{% extends 'base.html.twig' %}

{% block title %}Hello DataTableController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Listado de Libros</h1>

    <table id="mitabla">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Isbn</th>
                <th>Edicion</th>
                <th>Publicacion</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}


{% block javascripts_footer %}
<script>
$(document).ready( function () {
    $('#mitabla').DataTable({
        ajax: '/libros_json'
    });
} );
</script>
{% endblock %}
