{% extends 'base.html.twig' %}

{% block title %}New Libro{% endblock %}

{% block body %}
    <h1>Create new Libro</h1>

    {{ include('crud_libro/_form.html.twig') }}

    <a href="{{ path('c_r_u_d_libro_index') }}">back to list</a>
{% endblock %}
